<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>chat</title>
  </head>
  <body>
    <div layout:fragment="page_content" id="chatLayout">
      <div class="container">
        <div class="col-6">
          <h1>[[${room.name}]]</h1>
        </div>
        <div id="msgArea" class="col"></div>
        <div class="col-6">
          <div class="input-group mb-3">
            <input type="text" id="msg" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
            </div>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </body>
  <div layout:fragment="script_area">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
      /*[+ 
      const roomName = [[|${room.name}|]];
      const roomId = [[|${room.roomId}|]];
      const roomPassword = [[|${room.password}|]];
      +]*/
    </script>
    <script th:src="@{/js/chat/chat.js}"></script>
    <script th:src="@{/js/chat/room.js}"></script>
  </div>
</html>