<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>chat</title>
  </head>
  <body>
    <div layout:fragment="page_content" id="chatLayout">
      <div class="container">
        <div>
          <ul th:each="room : ${list}">
            <li><a th:href="@{/chat/room(roomId=${room.roomId})}">[[${room.name}]]</a></li>
          </ul>
        </div>
      </div>
      <form th:action="@{/chat/room}" method="post">
        <input type="text" name="name" class="form-control">
        <button class="btn btn-secondary">개설하기</button>
      </form>
      </div>
  </body>
  <div layout:fragment="script_area">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
      const roomName = /*[[${roomName}]]*/ [];
    </script>
    <script th:src="@{/js/chat/chat.js}"></script>
    <script th:src="@{/js/chat/rooms.js}"></script>
  </div>
</html>