<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/main/base.css">
 <!-- Favicon-->
<link rel="icon" type="image/x-icon" href="./img/assets/favicon.ico" />
</head>
<title>
</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div>
			<a class="navbar-brand" th:href="@{'/'}">Home</a>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/about'}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/myBoard'}">myBoard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/chat'}">Chat</a>
              </li>
            </ul>
            <div>
                <span id="username-area" style="color: white;"></span>
            </div>
        </div>
	</nav>
    <button id="openBtn" class="open-button">Todo</button>
    <div id="todoPopup">
        <h2>todo-list</h1>
        <form id="todo-form">
            <input type="text" placeholder="Write a To Do and Press Enter" required />
        </form>
        <ul id="todo-list"></ul>
        <div class="text-right">
            <button id="closeBtn" type="button" class="btn btn-outline-secondary">Close</button>
        </div>
    </div>
    <div layout:fragment="page_content">
        <div></div>
    </div>
    <div layout:fragment="script_area"></div>
    <script>
      document.cookie = "safeCookie1=foo; SameSite=Lax"; 
      document.cookie = "safeCookie2=foo"; 
      document.cookie = "crossCookie=bar; SameSite=None; Secure";
    </script>
    <script src="./js/base/todo.js"></script>
    <script src="./js/base/login.js"></script>
</body>
</html>