<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
<head>
<meta charset="UTF-8">
<title>chat</title>
<!-- <link rel="stylesheet" th:href="@{./css/chat/chat.css}"> -->
</head>
 <body>
	<div layout:fragment="page_content">
        <th:block th:fragment="content">
	        <div class="container" id="chatArea">
	            <div class="col-6">
	                <label><b>채팅방</b></label>
	            </div>
	            <div>
	                <div id="msgArea" class="col"></div>
	                <div class="col-6">
	                    <div class="input-group mb-3">
	                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
	                        <div class="input-group-append">
	                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
    	</th:block>
	</div>
    </body>
	<div layout:fragment="script_area">
    	<script th:src="@{./js/websocket/websocket.js}"></script>
	</div>
</html>