<!DOCTYPE html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{./css/chat.css}">

<html>
<head>
<meta charset="UTF-8">
<title>chat</title>
</head>
 <body>
        <th:block th:fragment="content">
	        <div class="container" id="chatArea">
	            <div class="col-6">
	                <label><b>채팅방</b></label>
	            </div>
	            <div>
	                <div id="msgArea" class="col"></div>
	                <div class="col-6">
	                    <div class="input-group mb-3">
	                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
	                        <div class="input-group-append">
	                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
    	</th:block>
    </body>
    <script th:src="@{./js/websocket.js?new2}"></script>
</html>