.hidden {
    display: none;
}

body, html {
    height: 100%;
    color: white;
}

.loginField {
  font-family: inherit;
  width: 85%;
  border: 0;
  outline: 0;
  font-size: 2.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: white;
}
.loginField::placeholder {
    color: rgb(249, 255, 248);
    opacity: 1; /* Firefox */
  }
.loginField:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgb(249, 255, 248);
}
.loginField::-ms-input-placeholder { /* Microsoft Edge */
color: rgb(249, 255, 248);
}

#login-form input:last-child {
    padding: 10px;
}

#loginClock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginClock #clock{
    text-align: center;
    width: 600px;
    font-size : 130px;
}

#quote {
    position: fixed;
    width: max-content;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#quote span:first-child {
    font-size: 26px;
}

#quote span:last-child {
    float: right;
}

#weather {
    position:relative;
    position:absolute;
    top:0;
    right:0;
}

#weather span:last-child {
    float: right;
}