.hidden {
    display: none;
}

body, html {
    height: 100%;
    color: white;
}

#loginClock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginClock #clock{
    text-align: center;
    width: 600px;
    font-size : 130px;
}

#todo-list {

}

#quote {
    position: fixed;
    width: max-content;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#quote span:first-child {
    font-size: 26px;
}

#quote span:last-child {
    float: right;
}

#weather {

}