.title_wrap section {background-color: #cfcfcf}

hr.straight_line {
	border-top: 3px double #8c8b8b;
}

/* html {
	position: relative;
	min-height: 100%;
} */


/*.footer {*/
	/* position: absolute; */
/*	left: 0;
	bottom: 0;
	width: 100%;
	overflow:hidden;
}*/

