/* =Paginate */
.paginate {margin-top:63px;text-align:center}
.paginate a {display:inline-block;position:relative;min-width:30px;margin:0 2px;padding:0 6px;color:#999;vertical-align:middle;}
.paginate a.active {color:#111;font-weight:700;}
.paginate .btn_paging {width:34px;height:34px;margin:0 3px;padding:0;border:1px solid #c8c9ca;background:url(/img/board/paging_first.png) no-repeat center;border-radius:4px;text-indent:-9999px;}
.paginate .first.available {background-color: #eaeaea}
.paginate .prev {margin-right:25px; background-image:url(/img/board/paging_prev.png);}
.paginate .prev.available {background-color: #eaeaea}
.paginate .next {margin-left:25px; background-image:url(/img/board/paging_prev.png); -webkit-transform:rotate(-180deg); -ms-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg);}
.paginate .next.available {background-color: #eaeaea}
.paginate .last {-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);}
.paginate .last.available {background-color: #eaeaea}
.paginate .disabled { pointer-events: none; cursor: default; }
/*.thumbnail_list {line-height:36px; margin-bottom:80px;}*/
.thumbnail_list {line-height:36px;}
.thumbnail_list li {float:left; margin-right: 40px; margin-bottom: 40px;}
.thumbnail_list .photo {margin-bottom:40px; background:#eaeaea; border: 1px solid #e6e6e6;}
/*.thumbnail_list li+li {margin-left:60px;}*/
.thumbnail_list .board_title {font-size:13px; font-weight: bold}
.thumbnail_list p:last-of-type{color:#666;}

.clearfix:after {content:''; display:block; clear:both;} /* 플로팅 해제 */
ol,ul {list-style:none;}

/* html,
body {
  height: 100%
} */


/*#contents {width: 1224px; padding:140px 0 200px; margin: 0 auto;}
#contents.min_w {width: 1200px;} /* 게시판 Width */